<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Message Form</title>
    <!--my navbar-->
    <nav th:replace="base :: navbar"></nav>
    <!--bootstrap links-->
    <div th:replace="base :: bootstrap-css"></div>

    <link rel="stylesheet" type="text/css" href="css/StyleForm.css"/>


</head>

<body>
<!--my navbar-->
<!--<nav th:replace="base :: navbar"></nav>-->


<!--cardwill begin here-->


<div class="container">
    <form th:action="@{/process}"
          th:object="${message}"
          method="post">


        <div class="row">
            <div class="col-25">
                <label for="fname">Title: </label>
            </div>
            <div class="col-75">
                <input type="text" id="fname" name="firstname" placeholder="Your title..">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="lname">Posted By:</label>
            </div>
            <div class="col-75">
                <input type="text" id="lname" name="lastname" placeholder="Your name..">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="country">Posted Date</label>
            </div>
            <div class="col-75">
                <select id="country" name="country">
                    <option value="australia">Australia</option>
                    <option value="canada">Canada</option>
                    <option value="usa">USA</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="subject">Content</label>
            </div>
            <div class="col-75">
                <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
            </div>
        </div>
        <div class="row">
            <input type="submit" value="Submit">
        </div>
    </form>
</div>

<!--msg card will end here-->

<!--js links-->
<div th:replace="base :: javascript-link"></div>
</body>
</html>